nav.botton_nav{
    width: 137.52px;
    ul.botton_ul{
        list-style: none;
        li.botton_li{
            padding: 10px 24px;
            border-radius: 20px;
            a.botton_a{
                text-decoration: none;
                color: white;
                font-size: 16px;
                font-weight: 700;
        }
        }
    }
    }